<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Plot Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
    <h1>Variable Response Plots</h1>
    <p>Our model of the hemodynamics of a Norwood circulatory system solves for 8 variables using 10 parameters. <br><br>
        In this page, you can select any one of the 8 variables, to generate a 2D plot. 
         The plot will display how the selected variable changes (on the y-axis) 
         as each of the 13 parameters changes (on the x-axis). 
         The x-axis is normalized to represent each parameter as it goes from 0.5x to 1.5x its baseline value. <br><br>

         Note: not all variable response plots will show all parameters as not all parameters are relevant for each variable.
          </p>



    <!-- First Plot Section -->
    <div class="plot-container">
        <div class="plot-section">
            <!-- Left side: Existing Plot Dropdown -->
            <select id="plotType">
                <option value="Q_s">Systemic Flow</option>
                <option value="Q_p">Pulmonary Flow</option>
                <option value="Q_total">Total Flow</option>
                <option value="P_a">Arterial Pressure</option>
                <option value="P_v">Venous Pressure</option>
                <option value="S_m">Mixed Oxygen Saturation</option>
                <option value="S_sv">Systemic Venous Saturation</option>
                <option value="OD2">Oxygen Delivery</option>
            </select>
            <button id="displayPlotButton">Display Plot</button>
        </div>
        <div id="plotContainer"></div> <!-- Where the plot will be displayed -->
    </div>



    <a href="/"><button>Back to Home</button></a>



    <script src="/static/plot_script.js"></script>
</body>
</html>